:root {
    --grid-side-length: 100px;
    --name-font-size: 1.5rem;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template:
	"cell-0-2 cell-1-2 cell-2-2" var(--grid-side-length)
	"cell-0-1 cell-1-1 cell-2-1" var(--grid-side-length)
	"cell-0-0 cell-1-0 cell-2-0" var(--grid-side-length)
	/ var(--grid-side-length) var(--grid-side-length) var(--grid-side-length);
    flex: 0 0 auto;
}

.game-cell {
    border: 2px solid black;
    background-size: contain;
}

.game-cell img {
    width: auto;
    height: 100%;
}

.player-data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player-data-container img {
    display: block;
    width: var(--grid-side-length);
    height: var(--grid-side-length);
    object-fit: contain;
}

.name-container {
    background-color: #ddd;
    padding: 10px;
    font-size: var(--name-font-size);
    border: 2px outset #bbb;
    border-radius: 15px;
}

.name-container:focus-within {
    outline: 2px solid #22f;
    box-shadow: 0px 0px 4px 6px #33f;
}

.name-container input {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    outline: none;
}
